<h1>New restaurant</h1>

<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name, label: 'Rastaurant name', error: 'Name is mandatory, please specify one' %>
  <%= f.input :category, collection: %w(chinese italian japanese french belgian) %>
  <%= f.input :phone_number %>
  <%= f.input :address %>
  <%= f.button :submit %>
<% end %>
